
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 header{
    background-color: blue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
 }
 .reg{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1,6m;
    font-weight: 600;
 }
 .reg p{
    color: #2a8b23
    
 }
 .user{
  text-decoration: none;
  color: blanchedalmond;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 1,8em;
 }
 .navi a{
 color: blanchedalmond;
 text-decoration: none;
  color: blanchedalmond;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1,0em;
  padding-left: 30px;

 }
 .navi a:hover{
    color: black;
}
section{
    padding: 100px 150px;
}
.view{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
   background-image: url(../image_folder/foto.png);
    background-size: cover;
    background-position: center;
}
.view h3{
    font-size: 1.5em;
    font-weight: 700;
    color: violet;
}
.view h1 span {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2.2em;
    font-weight: 900;
    color: violet;
}
.bott {
    color: #eaeae7;
    background-color: rgb(14, 42, 167);
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    display: inline-block;
    padding: 0,9375em 2,1875em;
    border-radius: 15px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    transition: 2s ease;
}
.bott:hover{
    background-color: rgb(11, 112, 112);
    transform : scale(1.1) ;
    }
    .medien a{
        padding-right: 30px;
        color: #f7fcfc;
        font-size: 1.7rem;
    }
    .medien a:hover{
        transform : scale(1.1) ;
    }
    .line{
        display: flex;
        justify-content: center;
        color: blue;
        margin-bottom: 10px;
        font-size: 2.3em;
        font-weight: 800;
    }
    .line1{
        display: flex;
        justify-content: center;
        font-weight: 400;
        margin-bottom: 30px;
    }
 .content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
 }
 .card{
    background-color: #f0f8ff;
    width: 21.25em;
    box-shadow: 0px 5px 25px rgba(1, 1, 1,100% );
    border-radius: 10px;
    padding: 25px;
    margin-right: 30px;
    transition: 0.8s ease;

 }
 .card:hover{
    transform : scale(1.1) ;
 }
 .card1{
    background-color: #f0f8ff;
    width: 21.25em;
    box-shadow: 0px 5px 25px rgba(1, 1, 1,100% );
    border-radius: 10px;
    padding: 25px;
    margin-right: 30px;
    transition: 0.8s ease;
    margin-bottom: 15px;

    
 }
 .card1:hover{
    transform : scale(1.1) ;
 }
 .icon{
    color: blue;
    text-align: center;
    font-size: 6em;
 }
 .line3{
    text-align: center;
 }
 .line3 h3 {
    color: blue;
    margin: 10px;
    font-weight: 500;
    font-size: 1.2;

 }
 .card2{
    background-color: #f0f8ff;
    width: 90%;
    box-shadow: 0px 5px 25px rgba(1, 1, 1,100% );
    border-radius: 10px;
    padding: 25px;
    margin-right: 30px;
    transition: 0.8s ease;
    margin-bottom: 15px;

    
 }
 .card2:hover{
    transform : scale(1.1) ;
 }
 .view1{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    background-color: 	#006080;
    background-size: cover;
    background-position: center;
    
}
.card4{
    background-color: #f0f8ff;
    width: 30%;
    box-shadow: 0px 5px 25px rgba(1, 1, 1,100% );
    border-radius: 10px;
    padding: 25px;
    margin-right: 30px;
    transition: 0.8s ease;
    margin-bottom: 15px;
    height: 300px;
    padding: 40px;

    
 }
 .card4:hover{
    transform : scale(1.1) ;
 }
 .footer{
    background-color: black;
    min-height: 60vh;
    padding-top: 10px;
    
 }
@media (max-width:1023px){
   header{
      padding: 12px 20px;
   }
   .navi{
      padding-left: 5px;
   }
 }

